/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

body
  background: lighten($color1, 10%)
  color: darken($color1, 50%)
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif
  font-size: small
  line-height: normal

section
  +grid-container

.row
  +grid-row

a
  color: $color4
  text-decoration: none

section:first-child
  background: darken($color1, 50%)
  border-bottom: 1px solid darken($color1, 60%)
  color: white
  line-height: 5em
  header
    +grid(12)
    h1
      font-family: 'Concert One', cursive
      font-size: xx-large
      margin-bottom: 0
      +grid-subcolumn(12, 6)
    .user
      text-align: right
      +grid-subcolumn(12, 6)
      +last

section:last-child
  border-top: 1px solid lighten($color1, 20%)
  padding-top: 1em
  .notice
    color: darken($color3, 10%)
    margin-bottom: 1em
    +grid(12)

input[type="submit"]
  +btn(darken($color3, 10%))

hr
  border: 0
  border-top: 1px solid darken($color1, 30%)
  border-bottom: 1px solid lighten($color1, 30%)
  margin: 2em 0

strong
  font-weight: bold

h1
  font-family: 'Concert One', cursive
  font-size: xx-large
  margin-bottom: .5em

h2
  font-family: 'Concert One', cursive
  font-size: x-large
  margin-bottom: .5em
  +text-shadow(white 0 1px 1px)

table
  tr
    &:nth-child(even)
      background: rgba(255,255,255,.25)
    &:nth-child(odd)
      background: rgba(255,255,255,.5)
  td
    padding: .25em

label
  font-weight: bold
  cursor: pointer
